<div id="navzao">
  <nav
    id="navzao"
    class="navbar navbar-light bg-primary"
    style="border-bottom: 4px solid #0000; background-color: white !important"
  >
    <div class="container-fluid">
      <a style="padding: 25px" href="#" class="navbar-brand">
        <img
          src="/assets/logo.png"
          width="80"
          height="100"
          alt=""
          class="d-inline-block align-middle mr-2"
        />
        <span class="text-uppercase font-weight-bold mx-4"
          >Consulta Cartão Consumo</span
        >
      </a>

      <div class="d-flex">
        <button
          id="printPageButton"
          title="Inserir Movimentação"
          class="btn btn-success mx-2"
          *ngIf="isAdmin === '1'"
          data-bs-toggle="modal"
          data-bs-target="#insertMovC"
        >
          <i class="fa-solid fa-circle-plus"></i>
        </button>
        <button
          id="printPageButton"
          title="Imprimir"
          class="btn btn-secondary mx-2"
          (click)="printThisPage()"
        >
          <i class="fas fa-print"></i>
        </button>
        <button
          id="printPageButton"
          title="Editar Registro de Cartão"
          class="btn btn-warning mx-2"
          *ngIf="isAdmin === '1' || isAdmin === '3'"
          data-bs-toggle="modal"
          data-bs-target="#editModal"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>

        <button
          id="printPageButton"
          title="Voltar"
          class="btn btn-dark mx-2"
          *ngIf="isAdmin === '1' || isAdmin === '3'"
          (click)="voltarLogin()"
        >
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button
          *ngIf="isAdmin !== '1' && isAdmin !== '3'"
          id="printPageButton"
          title="Sair"
          class="btn btn-danger mx-2"
          (click)="Sair()"
        >
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
      </div>
    </div>
  </nav>
</div>
<div id="tabelas">
  <table
    [hidden]="isAdmin !== '3' && isAdmin !== '1'"
    id="tabela1"
    class="table table-striped"
    style="
      margin: 50px;
      width: 90vw;
      border: 4px solid black;
      border-radius: 5px;
    "
  >
    <thead class="thead-light">
      <tr>
        <th id="printPageButton" scope="col">{{ restaurante.nome }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Número:</b></td>
        <td>{{ consumo.numero }}</td>
      </tr>
      <tr>
        <td><b>Nome:</b></td>
        <td>{{ consumo.nome }}</td>
      </tr>
      <tr>
        <td><b>Grupo:</b></td>
        <td>{{ consumo.grupo }}</td>
      </tr>
      <tr>
        <td><b>CPF:</b></td>
        <td>{{ consumo.cpf }}</td>
      </tr>
      <tr>
        <td><b>Descricao:</b></td>
        <td>{{ consumo.descricao }}</td>
      </tr>
      <tr>
        <td><b>Saldo:</b></td>
        <td>{{ converterCurrency(consumo.saldoAtual) }}</td>
      </tr>
      <tr>
        <td><b>Validade:</b></td>
        <td>{{ consumo.validade }}</td>
      </tr>
      <tr>
        <td><b>Desconto:</b></td>
        <td>{{ consumo.desconto }}%</td>
      </tr>
      <tr>
        <td><b>Registrado Por:</b></td>
        <td>{{ consumo.registradoPor }}</td>
      </tr>
      <tr>
        <td><b>Cupom Fiscal:</b></td>
        <td>{{ ativoString(consumo.frete) }}</td>
      </tr>
    </tbody>
  </table>

  <table
    id="tabela2"
    class="table table-striped"
    style="
      margin: 50px;
      width: 90vw;
      border: 4px solid black;
      border-radius: 5px;
    "
  >
    <thead>
      <tr *ngIf="isAdmin !== '1' && isAdmin !== '3'">
        <td>
          <b>{{ restaurante.nome }}</b>
        </td>
        <td></td>
        <td></td>
        <td>
          <b>{{ converterDate(dataagora) }}</b>
        </td>
      </tr>
      <tr *ngIf="isAdmin !== '1' && isAdmin !== '3'" class="table-secondary">
        <td><b>Número:</b></td>
        <td>{{ consumo.numero }}</td>
        <td><b>Saldo Atual:</b></td>
        <td>{{ converterCurrency(consumo.saldoAtual) }}</td>
      </tr>
      <tr>
        <th scope="col">Movimentações</th>
        <th scope="col">Valor</th>
        <th scope="col">Colaborador</th>
        <th scope="col">Método</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mov of movimentacao.results; let i = index">
        <td>{{ converterLongDate(mov.dataMov) }}</td>
        <td>{{ converterCurrencyMov(mov.saldo, mov.tipoMov) }}</td>
        <td>{{ mov.login }}</td>
        <td>{{ converteMetodo(mov.metodo) }}</td>
        <td id="printPageButton">
          <button
            id="printPageButton"
            title="Estorno"
            class="btn btn-danger mx-2"
            *ngIf="
              (isAdmin === '1' && mov.tipoMov === 1) ||
              (isAdmin === '3' && mov.tipoMov === 1)
            "
            (click)="deleteMovById(mov.cartaoConsumoMovId)"
          >
            <i class="fa-solid fa-money-bill-trend-up"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Cartão</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nome</label>
            <input
              type="text"
              #nomeEdit
              value="{{ consumo.nome }}"
              class="form-control"
              id="exampleInputPassword1"
            />
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Grupo</label
              >
              <div class="input-group mb-3">
                <select
                  #desc
                  style="width: 50%"
                  class="form-select"
                  name="desc"
                >
                  <option
                    *ngFor="let grupo of grupos.results"
                    [ngValue]="grupo.descricao"
                  >
                    {{ grupo.descricao }}
                  </option>
                </select>
                <div class="input-group-append">
                  <button
                    title="Adicionar novo grupo"
                    class="btn btn-success mx-4"
                    *ngIf="isAdmin === '1'"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="goToGroups()"
                  >
                    <i class="fa-solid fa-circle-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">CPF</label>
            <input
              type="text"
              #cpfEdit
              value="{{ consumo.cpf }}"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Número</label>
            <input
              type="text"
              #numeroEdit
              min="0"
              value="{{ consumo.numero }}"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              disabled
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Descrição</label
            >
            <input
              type="text"
              #descEdit
              value="{{ consumo.descricao }}"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Validade</label
            >
            <input
              type="text"
              #validadeEdit
              value="{{ consumo.validade }}"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Porcentagem de Desconto</label
            >
            <input
              type="number"
              #descontoEdit
              min="0"
              value="{{ consumo.desconto }}"
              [disabled]="isAdmin !== '1'"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Cumpom Fiscal?</label
            >
            <input
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="frete"
              type="checkbox"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Número do Restaurante</label
            >
            <input
              type="number"
              #restauranteEdit
              min="0"
              value="{{ consumo.restauranteId }}"
              class="form-control"
              id="exampleInputPassword1"
              disabled
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button
          type="button"
          (click)="
            EditById(
              consumo.cartaoConsumoId,
              numeroEdit.value,
              descEdit.value,
              consumo.valor,
              validadeEdit.value,
              cpfEdit.value,
              descontoEdit.value,
              nomeEdit.value,
              restauranteEdit.value,
              consumo.saldoAtual,
              desc
            )
          "
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editModalC"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Cartão</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nome</label>
            <input
              type="text"
              #nomeEditC
              value="{{ consumo.nome }}"
              class="form-control"
              id="exampleInputPassword1"
            />

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Grupo</label
              >
              <div class="input-group mb-3">
                <select
                  #desc
                  style="width: 50%"
                  class="form-select"
                  name="desc"
                >
                  <option
                    *ngFor="let grupo of grupos.results"
                    [ngValue]="grupo.descricao"
                  >
                    {{ grupo.descricao }}
                  </option>
                </select>
                <div class="input-group-append">
                  <button
                    title="Adicionar novo grupo"
                    class="btn btn-success mx-4"
                    *ngIf="isAdmin === '1'"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="goToGroups()"
                  >
                    <i class="fa-solid fa-circle-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">CPF</label>
            <input
              type="text"
              #cpfEditC
              value="{{ consumo.cpf }}"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Número</label>
            <input
              type="text"
              #numeroEditC
              min="0"
              value="{{ consumo.numero }}"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Descrição</label
            >
            <input
              type="text"
              #descEditC
              value="{{ consumo.descricao }}"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Validade</label
            >
            <input
              type="text"
              #validadeEditC
              value="{{ consumo.validade }}"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Porcentagem de Desconto</label
            >
            <input
              type="number"
              #descontoEditC
              min="0"
              value="{{ consumo.desconto }}"
              class="form-control"
              id="exampleInputPassword1"
              disabled
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Número do Restaurante</label
            >
            <input
              type="number"
              #restauranteEditC
              min="0"
              value="{{ consumo.restauranteId }}"
              class="form-control"
              id="exampleInputPassword1"
              disabled
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button
          type="button"
          (click)="
            EditById(
              consumo.cartaoConsumoId,
              numeroEditC.value,
              descEditC.value,
              consumo.valor,
              validadeEditC.value,
              cpfEditC.value,
              descontoEditC.value,
              nomeEditC.value,
              restauranteEditC.value,
              consumo.saldoAtual,
              desc
            )
          "
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editMov"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Movimentação</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Valor</label>
            <input
              type="number"
              min="0"
              #saldo
              class="form-control"
              placeholder="Ex: 00.00"
              id="exampleInputPassword1"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button
          type="button"
          (click)="EditMovById(saldo.value)"
          class="btn btn-primary"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="insertMov"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Movimentação</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Valor</label>
            <input
              type="number"
              min="0"
              #saldo2
              class="form-control"
              placeholder="Ex: 00.00"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Tipo</label>
            <select
              class="form-control"
              name="tipo2"
              #tipo2
              id="tipo"
              (change)="logar(tipo2.value)"
            >
              <option value="1">Positivo</option>
              <option [disabled]="isAdmin !== '1'" value="2">Negativo</option>
            </select>
          </div>
          <div [hidden]="tipo2.value == '2'" class="mb-3">
            <label for="exampleInputEmail1">Método</label>
            <select
              #metodo2
              (change)="logar(metodo2.value)"
              class="form-select"
              aria-label="Modo de pagamento"
            >
              <option value="1" selected>Dinheiro</option>
              <option value="2">Cartão Débito</option>
              <option value="3">Cartão Crédito</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button
          type="button"
          (click)="getTxtInfoMov(saldo2.value, tipo2.value, metodo2.value)"
          class="btn btn-primary"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="insertMovC"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inserir Movimentação</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Valor</label>
            <input
              type="number"
              min="0"
              #saldo3
              class="form-control"
              placeholder="Ex: 00.00"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Tipo</label>
            <select class="form-control" name="tipo3" #tipo3 id="tipo">
              <option value="1">Positivo</option>
              <option value="2">Negativo</option>
            </select>
          </div>
          <div [hidden]="tipo3.value == '2'" class="mb-3">
            <label for="exampleInputEmail1">Método</label>
            <select
              #metodo3
              (change)="logar(metodo3.value)"
              class="form-select"
              aria-label="Modo de pagamento"
            >
              <option value="1" selected>Dinheiro</option>
              <option value="2">Cartão Débito</option>
              <option value="3">Cartão Crédito</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button
          type="button"
          (click)="getTxtInfoMov(saldo3.value, tipo3.value, metodo3.value)"
          class="btn btn-primary"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<footer id="printPageButton" class="bg-light text-center text-lg-start">
  <div
    id="printPageButton"
    class="text-center p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2022 Powered by:
    <a class="text-dark" href="https://www.zipsoftware.com.br/">ZiP Software</a>
  </div>
</footer>
